<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainmonth.player">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".activity.simple.LocalVideoPlayerActivity"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name="com.rainmonth.player.activity.other.AudioBasicLearnActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name="com.rainmonth.player.activity.detail.NormalDetailVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.detail.ConfigDetailVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.detail.ControlDetailVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.detail.AdDetailVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.detail.ConfigAdDetailVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name="com.rainmonth.player.activity.list.DyVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name="com.rainmonth.player.activity.other.FloatVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name="com.rainmonth.player.activity.list.ListFocusVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.other.AudioBasicLearnActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.other.AudioRecordExampleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.other.AudioChangeVoiceWithSoundTouchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.other.VideoBasicLearnActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".VideoRecordExampleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name="com.rainmonth.player.activity.VideoMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name="com.rainmonth.player.activity.simple.ExoSimpleVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
    </application>
</manifest>