<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainmonth.player">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name="com.rainmonth.player.activity.GlobalVideoPlayerActivity" />
        <activity android:name="com.rainmonth.player.activity.ConfigVideoPlayActivity" />
        <activity
            android:name="com.rainmonth.player.activity.NormalDetailVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />
        <activity android:name="com.rainmonth.player.activity.DyVideoPlayActivity" />
        <activity android:name="com.rainmonth.player.activity.FloatVideoPlayerActivity" />
        <activity android:name="com.rainmonth.player.activity.ListFocusVideoPlayActivity" />
        <activity android:name="com.rainmonth.player.activity.VideoMainActivity" />
        <activity android:name="com.rainmonth.player.activity.VideoPlayerActivity" />
    </application>
</manifest>