<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainmonth.image">

    <application>
        <meta-data
            android:name="com.rainmonth.image.config.ImageAppConfig"
            android:value="ConfigModule" />
        <activity android:name=".mvp.ui.activity.ImageMainActivity" />
        <activity android:name=".mvp.ui.activity.PhotoHomeActivity" />
        <activity android:name=".mvp.ui.activity.CollectionHomeActivity" />
        <activity android:name=".mvp.ui.activity.SearchActivity" />
        <activity android:name=".mvp.ui.activity.UserCenterActivity" />
        <activity android:name=".mvp.ui.activity.PhotoDetailActivity" />
        <activity android:name=".mvp.ui.activity.SearchResultActivity" />
        <activity android:name=".mvp.ui.activity.DownloadCenterActivity" />
        <activity android:name=".mvp.ui.activity.UserImageCollectionActivity" />
    </application>

</manifest>