<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainmonth.image">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <meta-data
            android:name="com.rainmonth.image.config.ImageAppConfig"
            android:value="ConfigModule" />
        <activity android:name=".mvp.ui.photo.PhotoHomeActivity" />
        <activity android:name=".mvp.ui.photo.PhotoDetailActivity" />
        <activity android:name=".mvp.ui.collection.CollectionHomeActivity" />
        <activity android:name=".mvp.ui.collection.CollectionDetailActivity" />
        <activity android:name=".mvp.ui.search.SearchActivity" />
        <activity android:name=".mvp.ui.search.SearchResultActivity" />
        <activity android:name=".mvp.ui.usercenter.UserCenterActivity" />
        <activity android:name=".mvp.ui.usercenter.DownloadCenterActivity" />
        <activity android:name=".mvp.ui.usercenter.UserImageCollectionActivity" />
        <activity android:name=".mvp.ui.usercenter.UserInfoActivity" />
        <activity android:name=".mvp.ui.usercenter.UserFocusActivity" />
        <activity android:name=".mvp.ui.usercenter.SettingImageShowStyleActivity" />
        <activity android:name=".mvp.ui.usercenter.UserStatisticsActivity" />

        <activity android:name=".mvp.ui.common.ImageMainActivity" />
        <activity android:name=".mvp.ui.common.PicToAsciiActivity" />

        <activity
            android:name="com.rainmonth.common.base.BaseWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mvp.ui.common.RoundRectsActivity" />
        <activity android:name=".mvp.ui.common.ComponentTestActivity" />
        <activity android:name=".selector.FileSelectActivity" />
        <activity android:name=".mvp.ui.test.WorkDemoActivity" />
        <activity android:name=".mvp.demo.DecorationDemoActivity" />
    </application>

</manifest>