<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rainmonth.image">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ImageApplication"
        android:allowBackup="true"
        android:icon="@mipmap/image_ic_launcher"
        android:label="@string/image_app_name"
        android:roundIcon="@mipmap/image_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <meta-data
            android:name="com.rainmonth.image.config.ImageAppConfig"
            android:value="ConfigModule" />

        <activity
            android:name=".ImageLaunchActivity"
            android:theme="@style/ImageSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.ui.photo.PhotoHomeActivity" />
        <activity android:name=".mvp.ui.photo.PhotoDetailActivity" />
        <activity android:name=".mvp.ui.collection.CollectionHomeActivity" />
        <activity android:name=".mvp.ui.collection.CollectionDetailActivity" />
        <activity android:name=".mvp.ui.search.SearchActivity" />
        <activity android:name=".mvp.ui.search.SearchResultActivity" />
        <activity android:name=".mvp.ui.usercenter.UserCenterActivity" />
        <activity android:name=".mvp.ui.usercenter.DownloadCenterActivity" />
        <activity android:name=".mvp.ui.usercenter.UserImageCollectionActivity" />
        <activity android:name=".mvp.ui.usercenter.UserInfoActivity" />
        <activity android:name=".mvp.ui.usercenter.UserFocusActivity" />
        <activity android:name=".mvp.ui.usercenter.SettingImageShowStyleActivity" />
        <activity android:name=".mvp.ui.usercenter.UserStatisticsActivity" />

        <activity android:name=".mvp.ui.common.ImageMainActivity" />
        <activity android:name=".mvp.ui.common.PicToAsciiActivity" />

        <activity
            android:name="com.rainmonth.common.base.BaseWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mvp.ui.common.RoundRectsActivity" />
        <activity android:name=".mvp.ui.common.ComponentTestActivity" />
    </application>

</manifest>