<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rainmonth.image">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ImageApplication"
        android:icon="@mipmap/image_ic_launcher"
        android:label="@string/image_app_name"
        android:roundIcon="@mipmap/image_ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.rainmonth.image.config.ImageAppConfig"
            android:value="ConfigModule" />

        <activity
            android:name=".ImageLaunchActivity"
            android:theme="@style/ImageSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.ImageMainActivity" />
        <activity android:name=".mvp.ui.activity.PhotoHomeActivity" />
        <activity android:name=".mvp.ui.activity.CollectionHomeActivity" />
        <activity android:name=".mvp.ui.activity.SearchActivity" />
        <activity android:name=".mvp.ui.activity.PicToAsciiActivity" />
        <activity android:name=".mvp.ui.activity.UserCenterActivity" />
    </application>

</manifest>