<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainmonth.music">

    <application>

        <activity android:name=".MusicMainActivity" />

        <activity android:name=".audioplayer.AudioPlayerActivity" />
        <activity android:name=".videoplayer.VideoPlayerActivity" />
        <activity android:name=".videoplayer.VideoPlayMainActivity" />

        <activity android:name=".videoplayer.ConfigVideoPlayActivity" />
        <activity android:name=".videoplayer.DetailVideoPlayActivity" />
        <activity android:name=".videoplayer.DyVideoPlayActivity" />
        <activity android:name=".videoplayer.FloatVideoPlayerActivity" />
        <activity android:name=".videoplayer.GlobalVideoPlayerActivity" />
        <activity android:name=".videoplayer.ListFocusVideoPlayActivity" />


        <service android:name=".audioplayer.AudioPlayService" />
    </application>

</manifest>