<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainmonth.music">

    <application>

        <activity android:name=".MusicMainActivity" />

        <activity android:name=".audioplayer.AudioPlayerActivity" />
        <activity android:name=".videoplayer.VideoPlayerActivity" />
        <activity android:name=".videoplayer.VideoPlayMainActivity" />
        <service android:name=".audioplayer.AudioPlayService" />
        <activity android:name=".videoplayer.ConfigVideoPlayActivity" />
        <activity android:name=".videoplayer.DetailVideoPlayActivity" />

    </application>

</manifest>