<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainmonth.video">

    <application>
        <activity android:name=".GlobalVideoPlayerActivity" />
        <activity android:name=".ConfigVideoPlayActivity" />
        <activity android:name=".DetailVideoPlayActivity" />
        <activity android:name=".DyVideoPlayActivity" />
        <activity android:name=".FloatVideoPlayerActivity" />
        <activity android:name=".ListFocusVideoPlayActivity" />
        <activity android:name=".VideoMainActivity" />
        <activity android:name=".VideoPlayerActivity" />
    </application>

</manifest>