<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rainmonth.player">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--todo 去掉 usesCleartextTraffic 的使用-->
    <application
        android:name=".PlayerApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/player_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/PlayerAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".PlayerSplashActivity"
            android:theme="@style/PlayerSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.VideoMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />

        <activity
            android:name=".activity.simple.SimplePlayDemoListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.simple.LocalPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.simple.SimpleVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />

        <activity
            android:name=".activity.detail.DetailPlayDemoListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.detail.NormalDetailVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.detail.ConfigDetailVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />

        <activity
            android:name=".activity.list.ListPlayDemoListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.list.ListFocusVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.GlobalVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.list.DyVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />
        <activity
            android:name=".activity.FloatVideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerDemoActivityTheme" />

    </application>

</manifest>